.elementor-44 .elementor-element.elementor-element-e65eb57{border-style:solid;border-width:1px 0px 00px 0px;border-color:#E7E7E7;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:8px 0px 8px 0px;}.elementor-44 .elementor-element.elementor-element-e65eb57 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-44 .elementor-element.elementor-element-3c33a3d{text-align:center;color:#050505;font-family:"Helvetica", Sans-serif;font-size:12px;font-weight:400;text-transform:capitalize;line-height:12px;letter-spacing:0.25em;}@media(max-width:767px){.elementor-44 .elementor-element.elementor-element-3c33a3d{font-size:10px;line-height:1.5em;}}/* Start custom CSS for text-editor, class: .elementor-element-3c33a3d */.elementor-44 .elementor-element.elementor-element-3c33a3d a{
    color: #000;
    transition: all 0.3s;
    font-size: 12px;
    text-decoration: none;
}
.elementor-44 .elementor-element.elementor-element-3c33a3d a:hover{
    color: #717171;
}/* End custom CSS */